const path=require('path');

module.exports = {

    entry: "./src/sass",

    output: {
        path: path.resolve(__dirname, "public"),
        filename: "bundle.css",
        publicPath: "./public/css"
    },

    module: {
        rules: [{
            test: /\.scss$/,
            use: [
                "style-loader",
                "css-loader",
                "sass-loader"
            ]
        }]
    } 
};